
body {
	font-size: 16px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

input, textarea {
	font-size: 16px;
}

b, strong {
	font-weight: bold;
}

.mono {
	font-family: 'Roboto Mono', monospace;
}

a {
	color: #00B7FF;
}
